* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover {
  background-color: lightgray;
  border-radius: 25px;
}

body {
  padding: 1rem 8vw;
}

@-webkit-keyframes showUp {
  0% {
    left: -500px;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: .5rem;
  }
}

@keyframes showUp {
  0% {
    left: -500px;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: .5rem;
  }
}

.correct-mess, .warning-mess {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  width: 250px;
  height: 75px;
  border-radius: 15px;
  background-color: #3b3636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: showUp 1s 1;
          animation: showUp 1s 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.correct-mess p, .warning-mess p {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

header .nav h1 {
  font-size: 20px;
  font-weight: 800;
  margin-right: 1rem;
}

header .nav, header .logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav a, header .logged a {
  margin: 0 1rem;
}

.Login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.Login form {
  width: 500px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Login form fieldset {
  position: relative;
  width: 350px;
  height: 50px;
  margin-bottom: 40px;
  border: 1px solid #80803d;
}

.Login form fieldset legend {
  margin-left: 20px;
  padding: 0 5px;
  z-index: 5;
}

.Login form fieldset input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px 5px;
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  background-color: transparent;
}

.Login form fieldset p {
  color: red;
  white-space: nowrap;
  visibility: hidden;
}

.Login form .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.Login form .buttons button:disabled {
  background-color: #b6b6b6;
  cursor: not-allowed;
}

.Login form .buttons button:disabled:hover {
  background-color: #b6b6b6;
}

.Login form .buttons button, .Login form .buttons a {
  outline: none;
  background-color: transparent;
  padding: 9px 22px;
  border: 1px solid lightgreen;
  border-radius: 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: .9rem;
  font-weight: 500;
}

.Login form .buttons button:hover, .Login form .buttons a:hover {
  background-color: rgba(126, 252, 0, 0.568);
}

.user-info {
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 30px 0;
}

.user-info .user-stats {
  width: 100%;
  padding: 20px 0 10px 50px;
}

.user-info .user-stats h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.user-info .user-stats div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-info .user-stats div h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.user-info .user-stats div div, .user-info .user-stats div .zmien-haslo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1rem;
}

.user-info .user-stats div div h1, .user-info .user-stats div .zmien-haslo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  word-break: break-all;
}

.user-info .user-stats div div a, .user-info .user-stats div .zmien-haslo a {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.user-info .user-stats div .zmien-haslo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  gap: 3rem;
}

.articles .article {
  width: 400px;
  height: 600px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.582);
          box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.582);
}

.articles .article .image {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.articles .article .article_info {
  padding: 15px;
}

.articles .article .article_info h1 {
  font-size: 1.2rem;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-bottom: .5rem;
}

.articles .article .article_info p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: .2rem;
}

.articles .article button {
  position: absolute;
  bottom: 15px;
  border-radius: 25px;
  border: 1px solid lightgray;
  padding: 8px 20px;
  margin-left: 15px;
}

.article_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
  padding: 20px 50px;
}

.article_container .article_bacground {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.article_container .article_header {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid black;
  word-spacing: 3px;
  line-height: 70px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 600;
  word-break: break-all;
}

.article_container .article_text {
  padding: 20px 50px;
  word-spacing: 3px;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 1.15rem;
  word-break: break-all;
  font-weight: 600;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article_container .article_text p {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  word-break: break-all;
}

.article_container .article_text img {
  max-height: 350px;
  margin-bottom: 25px;
}

.edit-button {
  position: relative;
  top: 10px;
  margin-left: 40px;
}

.create-article {
  margin-bottom: 20rem;
}

.create-article section {
  margin-top: 3rem;
}

.create-article section form label {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  gap: 10px;
}

.create-article section form label p {
  font-size: 1rem;
}

.create-article section form label input {
  width: 90%;
  height: 45px;
  font-size: 1rem;
  color: black;
  border-radius: 25px;
  outline: none;
  border: 1px solid lightgrey;
  padding: 0 25px;
}

.create-article section form .category-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5%;
}

.create-article section form .category-label p {
  margin-bottom: 1rem;
}

.create-article section form .category-label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0rem;
}

.create-article section form .category-label label p {
  margin-bottom: 0;
}

.create-article section form .category-label label input {
  width: 15px;
  height: 15px;
}

.create-article section form .my-post div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.create-article section form .my-post div input {
  width: 90%;
  height: 45px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  padding: 0 25px;
}

.create-article section form .my-post div h5 {
  width: 90%;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.create-article section form .my-post div p {
  background-color: #217121;
  color: white;
  border-radius: 25px;
  padding: 8px 0;
  width: 90%;
  text-align: center;
  margin-top: .2rem;
}

.create-article section form .my-post div textarea {
  width: 90%;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  padding: 15px 25px;
  resize: none;
}

.create-article section form .article-buttons {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  gap: 15px;
}

.create-article section form .article-buttons p {
  width: 100%;
  text-align: center;
  background-color: #217121;
  color: white;
  border-radius: 25px;
  padding: 8px 0;
  margin-top: .2rem;
  cursor: pointer;
}

.create-article section form .article-add {
  width: 90%;
  outline: none;
  border: none;
  text-align: center;
  background-color: #217121;
  color: white;
  margin-left: 5%;
  margin-top: 2rem;
  padding: 10px 0;
  border-radius: 25px;
  cursor: pointer;
}

.create-article section form .article-add:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.create-article section form .article-errors {
  width: 90%;
  margin: 15px 0;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create-article section form .article-errors .error {
  display: none;
  position: relative;
  width: 100%;
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: #5f2120;
  background-color: #fdeded;
  margin-bottom: 5px;
  padding-left: 45px;
}

.create-article section form .article-errors .error::before {
  content: '';
  position: absolute;
  margin-left: -30px;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  background-image: url("https://banner2.cleanpng.com/20180716/tts/kisspng-computer-icons-error-super-8-film-5b4c862600b3f0.8723941215317417340029.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.delete-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delete-section h1 {
  font-size: 3rem;
}

.delete-section form .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  gap: 1rem;
  margin-top: 5rem;
}

.delete-section form .buttons button {
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 25px;
  color: white;
  outline: none;
  background-color: green;
  text-align: center;
}

.article_comments {
  padding: 0 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-bottom: 150px;
}

.article_comments .comment {
  width: 100%;
  white-space: wrap;
  word-break: break-all;
  padding: 10px 0 10px 0;
  position: relative;
}

.article_comments .comment .comment-function-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article_comments .comment .comment-function-buttons .function-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article_comments .comment .comment-data .comment-user {
  padding-left: 5px;
}

.article_comments .comment .comment-data .comment-text {
  padding-left: 20px;
  padding-top: 10px;
}

.article_comments .comment:nth-child(odd) {
  background-color: lightgray;
}

.edit, .remove {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.253);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit h2, .remove h2 {
  margin-bottom: .7rem;
}

.edit .edit-value-error, .remove .edit-value-error {
  color: red;
  margin: 5px 0;
}

.edit .edit-buttons, .edit .remove-buttons, .remove .edit-buttons, .remove .remove-buttons {
  width: 500px;
  height: auto;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  background-color: white;
}

.edit .edit-buttons input, .edit .remove-buttons input, .remove .edit-buttons input, .remove .remove-buttons input {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: 1px solid gray;
  outline: none;
  margin: none;
  padding: 4px 12px;
}

.edit .edit-buttons div, .edit .remove-buttons div, .remove .edit-buttons div, .remove .remove-buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit .edit-buttons div input, .edit .remove-buttons div input, .remove .edit-buttons div input, .remove .remove-buttons div input {
  background-color: #217121;
  color: white;
}

.edit .edit-buttons div .save-edit:disabled, .edit .remove-buttons div .save-edit:disabled, .remove .edit-buttons div .save-edit:disabled, .remove .remove-buttons div .save-edit:disabled {
  background-color: gray;
}

.edit .edit-buttons .edit-value-error, .edit .remove-buttons .edit-value-error, .remove .edit-buttons .edit-value-error, .remove .remove-buttons .edit-value-error {
  visibility: hidden;
}

.add-comment {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.add-comment h1 {
  margin-bottom: 30px;
}

.add-comment form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.add-comment form .comment-add {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  padding: 8px 25px;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 10px;
}

.add-comment form .add {
  width: 300px;
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  text-align: center;
  background-color: #217121;
  color: white;
}

.add-comment form .add:disabled {
  background-color: gray;
}
/*# sourceMappingURL=main.css.map */